body {margin:0;}




.navbar {
  overflow: hidden;
  background-color: #ceb163;
  position: relative;
  top: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 200px;
  grid-row-gap: 0px;
}




.navbar a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 16px 18px;
  text-decoration: none;
  font-size: 18px;
  text-decoration: underline;
}




.navbar a:hover {
  background: #c23d3d;
  color: rgb(255, 255, 255);
}


.navbar img{
  width: 200px;
  height: 100%;
}




.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}




img {
    width: 100%;
}


.mudvid {
  height: 500px;
  margin-bottom: 20px;
}


.mudvid video {
  height: 100%;
  object-fit: cover;
}


.mudimg img {
  border-radius: 75px;
}




.geyserimg {
  height: 50vh;
  margin-bottom: 20px;
}


.geyserimg img {
  height: 100%;
  object-fit: cover;
}


.cloud img {
  border-radius: 75px;
  margin-left: 30px;
}


.three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 30px;


}


.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  text-align: center;
  margin-right: 20px;
  margin-top: 30px;
}


p {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 5px;
  font-size: 28px;
}


.mud-text p {
  font-size: 28px;
  width: 100%;
  margin-top: 50px;
}


.hero-image p {
  margin: 0;
  position: absolute;
  width: 99vw;
  height: 50vh;
  align-content: center;
  text-align: center;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.884);
}


.hero-image {
  height: 50vh;
  margin-bottom: 20px;
}


.hero-image img {
  height: 100%;
  object-fit: cover;
}


.mainimg img{
  border-radius: 75px;
}

.geyserimg p {
  margin: 0;
  position: absolute;
  width: 100vw;
  height: 50vh;
  font-size: 110px;
  color: rgba(255, 255, 255, 0.884);
}